<a href="https://colab.research.google.com/github/voilszee/kelompok-11-apm/blob/main/Rule_Based_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import numpy as np
import pandas as pd

persona = pd.read_csv("persona.csv")
persona.head()

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

In [9]:
agg_df = persona.groupby(['COUNTRY', 'SOURCE', 'SEX', 'AGE'])[["PRICE"]].aggregate("mean")
agg_df= agg_df.sort_values('PRICE', ascending=False)
agg_df = agg_df.reset_index()
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE
0     bra  android    male   46   59.0
1     usa  android    male   36   59.0
2     fra  android  female   24   59.0
3     usa      ios    male   32   54.0
4     deu  android  female   36   49.0

In [10]:
bins = [0, 18, 23, 30, 40, 70]
lab = ["0_18", "19_23", "24_30", "31_40", "41_70"]
agg_df["AGE_CAT"] = pd.cut(agg_df["AGE"], bins, labels=lab)
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE AGE_CAT
0     bra  android    male   46   59.0   41_70
1     usa  android    male   36   59.0   31_40
2     fra  android  female   24   59.0   24_30
3     usa      ios    male   32   54.0   31_40
4     deu  android  female   36   49.0   31_40

In [11]:
agg_df["customer_level_based"] = [val[0] +"_" + val[1] +"_"+ val[2] + "_" +val[5] for val in agg_df.values]
agg_df = agg_df[["customer_level_based", "PRICE"]]
agg_df.head()

       customer_level_based  PRICE
0    bra_android_male_41_70   59.0
1    usa_android_male_31_40   59.0
2  fra_android_female_24_30   59.0
3        usa_ios_male_31_40   54.0
4  deu_android_female_31_40   49.0

In [12]:
agg_df = agg_df.groupby("customer_level_based").agg({"PRICE": "mean"})
agg_df = agg_df.reset_index()
agg_df.head()

       customer_level_based      PRICE
0   bra_android_female_0_18  35.645303
1  bra_android_female_19_23  34.077340
2  bra_android_female_24_30  33.863946
3  bra_android_female_31_40  34.898326
4  bra_android_female_41_70  36.737179

In [13]:
agg_df["SEGMENT"] = pd.qcut(agg_df['PRICE'],4,labels=['D','C','B','A'])
agg_df

         customer_level_based      PRICE SEGMENT
0     bra_android_female_0_18  35.645303       B
1    bra_android_female_19_23  34.077340       C
2    bra_android_female_24_30  33.863946       C
3    bra_android_female_31_40  34.898326       B
4    bra_android_female_41_70  36.737179       A
..                        ...        ...     ...
104         usa_ios_male_0_18  33.983495       C
105        usa_ios_male_19_23  34.901872       B
106        usa_ios_male_24_30  34.838143       B
107        usa_ios_male_31_40  36.206324       A
108        usa_ios_male_41_70  35.750000       B

[109 rows x 3 columns]

In [14]:
new_user = 'tur_android_female_19_23'
agg_df[agg_df['customer_level_based'] == new_user]

        customer_level_based      PRICE SEGMENT
70  tur_android_female_19_23  33.444444       C